body {
	background-color: #f5f5f0;
	color: #0f0f0a;
	font-size: 1.5em;
	font-family: "Calibri", sans-serif;
	text-align: center;
	display: none;
}

header, footer {
	background-color: #0f0f0a;
	color: #f5f5f0;
	padding: 0.8em;
}

#field {
	width: 400px;
	height: 400px;
	left: 35%;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 4px;
}

#strange-flying-thing {
	width: 100px;
	height: 100px;
	position: absolute;
    background-color: #0f0f0a;
    border-radius: 80px;
}

button {
	background-color: #194d33;
    border: solid 2px #194d33;
    margin: 4px 2px;
    color: white;
    padding: 0.5em 2em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
	background-color: white;
	color: #194d33;
}

i {
	color: #808080;
}
i.fa-facebook-official:hover {
	color: #000080;
}
i.fa-github:hover {
	color: #000000;
}
i.fa-skype:hover {
	color: #33adff;
}
i.fa-envelope-square:hover {
	color: #ff0000;
}